.about {
  background-color: #dbdbdb;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;

}

.top-desc, .bottom-desc {
  position: relative;
  max-width: 40vw;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
  margin: 20px;
}

.about-header {
  text-align: center;
  font-size: 4em;
  font-family: 'Questrial', sans-serif;
  color: #30475e;


}