.contact {
  min-height: 30vh;
  /* background-color:  #dbdbdb; */
  background-color:  whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.contact-header {
  text-align: center;
  font-size: 4em;
  padding: 15px;
  color: #30475e;
  font-family: 'Rubik', sans-serif;

}

.contact-content {
  min-width: 50vw;;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0 30px 0 ;
}

.contact-icon {
  font-size: 1.2em;
  margin: 10px;
}

.contact-a {
  color: black;
}



