.contact {
  height: 30vh;
  background-color:  #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;


}

.contact-header {
  text-align: center;
  font-size: 4em;
  padding: 15px;
}

.contact-icon {
  font-size: 1.2em;
}

.contact-a {
  color: black;
}

