.footer {
  height: 20vh;
  background-image: url("../images/skyler-smith-snow.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.foot {
  margin: 20px;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  color: white

}