.card {
  display: flex;
  flex-flow: column;
  border: solid black 2px ;
  margin: 10px;
  align-items: center;
  background-color: #888888;
  
  
}

.cardContent {
  display: flex;
  flex-flow: column wrap ;
  max-width: 370px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
}

.cardLinks {
  display: flex;
}
.gitLink {
  color: whitesmoke;
  text-decoration: none;

}

.projectName {
  width: inherit;
  font-family: 'Questrial', sans-serif;
  color: whitesmoke;
  
}

.projectDesc {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
}

img {
  width: 350px;
  margin: 10px;
}




