.card {
  display: flex;
  flex-flow: column;
  border: solid black 2px ;
  /* border-radius: 15px; */
  margin: 10px;
  align-items: center;
  background-color: ;
  
}

.cardContent {
  display: flex;
  flex-flow: column wrap ;
  max-width: 370px;
  justify-content: center;
  align-items: center;
  padding: 5px;

}

.cardLinks {
  display: flex;
}

.projectName {
  width: inherit;
}

.projectDesc {
  text-align: center;
}

img {
  width: 350px;
  margin: 10px;
}




