.topLanding {
  background-image: url("../images/skyler-smith-snow.jpg");
  height: 90vh;
  background-size: cover;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

/* background image from Unsplash, Skyler Smith */

.links {
  color: white;
  position: absolute;
  right: 5%;
  top: 5%;
  margin-top: 20px;
  margin-right: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  left: 20%;
  margin-top: 13%; 
  width: 600px;
}

.name {
  font-size: 4em;
  font-family: 'Questrial', sans-serif;
  
}

.desc {
  position: relative;
  font-size: 1.5em;
  left: 13%;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  bottom: 15px
}
